version: "3"
services:
  mysql:
    image: mysql:5.6
    volumes:
      - ./docker/mysql/data/:/var/lib/mysql/
    networks:
      - network-main
    environment:
      - MYSQL_ROOT_PASSWORD=docker
    ports:
      - "3306:3306"
    command:
      [
        "--character-set-server=utf8mb4",
        "--collation-server=utf8mb4_unicode_ci",
      ]
  redis:
    image: redis:4.0.5-alpine
    command: ["redis-server", "--appendonly", "yes"]
    hostname: redis
    networks:
      - network-main
    volumes:
      - ./docker/redis/data/:/data
    ports:
      - "6379:6379"
networks:
  network-main:
